/*  your css code here. If applicable */
.container {
	max-height: 100%;
	max-width: 100%;
	position: relative;
	transform: translate(50%,50%);
	border-top-width: 2px;
}
.sub-container {
	height: 200px;
	width: 200px;
	border: 2px solid black;
	text-align: center;
	background-color: lightcyan;
}
.text{
	margin-top: 50%;
	color: maroon;
}