/*  your css code here. If applicable */
.container {
	height: 100vh;
	width: 100vw;
	position: relative;
	border-top-width: 2px;
}
.sub-container {
	height: 200px;
	width: 200px;
	border: 2px solid black;
	text-align: center;
	background-color: lightcyan;
	position: absolute;
	left: 50%;
	top: 50%;
}
.text{
	position: relative;
	top: 50%;
	color: maroon;
}